<div [ngClass]="{'max-width-fit-content': fixedColWidths}">
  <p-table [columns]="cols" [value]="data" [lazy]="true" (onLazyLoad)="loadTableData($event)"
           [lazyLoadOnInit]="lazyLoadOnInit"
           [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions"
           [first]="first" [rows]="rows" [sortField]="sortField" [sortOrder]="sortOrder"
           [totalRecords]="totalRecords" [loading]="loading"
           [selectionMode]="selectionMode" [(selection)]="selectedItems" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
           [scrollable]="!smallScreen" [scrollHeight]="scrollHeight" responsiveLayout="stack"
           styleClass="p-datatable-gridlines p-datatable-striped"
           rowGroupMode="subheader" [groupRowsBy]="groupRowsBy">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.sortField" [pSortableColumnDisabled]="disableColumnSorting(col)" class="justify-content-center" [style.width]="col.width">
          <div class="flex align-items-center">
            <span class="font-bold">{{col.header}}</span>
            <p-sortIcon *ngIf="col.sortField" [field]="col.sortField"></p-sortIcon>
            
            <!-- Select All Checkbox -->
            <p-tableHeaderCheckbox *ngIf="col.field === 'checkboxes' && selectionMode === 'multiple'"></p-tableHeaderCheckbox>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" (click)="onRowClick(rowData)" (dblclick)="onRowDblClick(rowData)" [class]="rowData.class">
        <td *ngFor="let col of columns; let i = index" [style.justify-content]="smallScreen ? '' : col.align" [style.width]="col.width" [ngClass]="col.applyColClass ? rowData.colClass : ''">
          
          <!-- Header for responsive mobile view -->
          <span class="p-column-title">{{col.header}}</span>
          
          <!-- Yes/No Cells -->
          <span *ngIf="!col.customCell && rowData[col.field] === 'Ναι'"><i class="fa fa-check color-green" pTooltip="{{'global.yes' | translate}}" tooltipPosition="top"></i></span>
          <span *ngIf="!col.customCell && rowData[col.field] === 'Όχι'"><i class="fa fa-ban color-dimgrey" pTooltip="{{'global.no' | translate}}" tooltipPosition="top"></i></span>
          
          <!--Normal Cell -->
          <span *ngIf="!col.customCell && rowData[col.field] !== 'Ναι' && rowData[col.field] !== 'Όχι'">{{rowData[col.field]}}</span>
          
          <!-- Row num -->
          <span *ngIf="col.field === 'rowNum'">{{rowIndex + 1}}</span>
          
          <!-- Extra actions -->
          <a *ngIf="col.field === 'extraActions'" href="{{viewLink}}/{{rowData.id}}" target="_blank" pTooltip="{{'global.edit' | translate}}" tooltipPosition="right">
            <i class="fa fa-edit"></i>
          </a>
          
          <!-- Checkboxes -->
          <p-tableCheckbox [value]="rowData" (click)="$event.stopPropagation()" *ngIf="col.field === 'checkboxes' && selectionMode === 'multiple'"></p-tableCheckbox>
          
          <!-- Embedded custom cell -->
          <span *ngIf="col.customCell === 'embedded'" innerHTML="{{col.applyFunc(rowData, col.field)}}"></span>
          
          <!-- Custom cell 1 -->
          <span *ngIf="col.customCell === 'cell1'">
            <ng-container [ngTemplateOutlet]="cell1Ref" [ngTemplateOutletContext]="{$implicit:rowData}"></ng-container>
          </span>
          
          <!-- Custom cell 2 -->
          <span *ngIf="col.customCell === 'cell2'">
            <ng-container [ngTemplateOutlet]="cell2Ref" [ngTemplateOutletContext]="{$implicit:rowData}"></ng-container>
          </span>
          
          <!-- Custom cell 3 -->
          <span *ngIf="col.customCell === 'cell3'">
            <ng-container [ngTemplateOutlet]="cell3Ref" [ngTemplateOutletContext]="{$implicit:rowData}"></ng-container>
          </span>
          
          <!-- Custom cell 4 -->
          <span *ngIf="col.customCell === 'cell4'">
            <ng-container [ngTemplateOutlet]="cell4Ref" [ngTemplateOutletContext]="{$implicit:rowData}"></ng-container>
          </span>
          
          <!-- Custom cell 5 -->
          <span *ngIf="col.customCell === 'cell5'">
            <ng-container [ngTemplateOutlet]="cell5Ref" [ngTemplateOutletContext]="{$implicit:rowData}"></ng-container>
          </span>
          
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-column *ngIf="groupRowsBy">
      <tr pRowGroupHeader class="background-color-lightcyan">
        <td [style.width]="'100%'">
          <span class="font-bold ml-2" *ngIf="groupHeaderText">{{groupHeaderText}}&nbsp;</span>
          <span class="font-bold" [ngClass]="{'ml-2': !groupHeaderText}">{{column[groupHeaderCol]}}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupfooter" let-columns="columns" let-group let-rowIndex="rowIndex" *ngIf="groupFooterUrl">
      <tr *ngIf="groupFooter" class="background-color-lightorange font-bold">
        <td *ngFor="let col of columns" [style.justify-content]="smallScreen ? '' : col.align" [style.width]="col.width">
          <span *ngIf="groupRowsBy && col.groupFooter">{{getGroupFooterFieldValue(group[groupRowsBy], col.field)}}</span>
          <!-- Group Footer Custom Cell 1 -->
          <span *ngIf="groupRowsBy && col.groupFooter && col.customGroupFooterCell === 'groupFooterCell1'">
            <ng-container [ngTemplateOutlet]="footerCustomCell1Ref" [ngTemplateOutletContext]="{$implicit:getGroupFooterValue(group[groupRowsBy])}"></ng-container>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns *ngIf="footerUrl">
      <tr *ngIf="footer">
        <td *ngFor="let col of columns" [style.justify-content]="smallScreen ? '' : col.align" [style.width]="col.width">
          <span class="font-bold" *ngIf="col.footer">{{footer[col.field]}}</span>
          <!-- Footer Custom Cell 1 -->
          <span *ngIf="col.footer && col.customFooterCell === 'footerCell1'">
            <ng-container [ngTemplateOutlet]="footerCustomCell1Ref" [ngTemplateOutletContext]="{$implicit:footer}"></ng-container>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <button type="button" pButton pRipple *ngIf="excel && exportModel"
              icon="pi pi-file-excel" class="p-button-success" aria-label="Export to Excel"
              pTooltip="{{'global.table.exportToExcel' | translate}}" tooltipPosition="bottom"
              (click)="exportToExcel()">
      </button>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-state let-rowData>
      <span *ngIf="data" class="padding-right-5">
        # {{(state.first + 1) > state.totalRecords ? state.totalRecords : (state.first + 1)}} 
        - {{(state.first + state.rows) > state.totalRecords ? state.totalRecords : (state.first + state.rows)}} 
        {{'global.table.from' | translate}} {{state.totalRecords}}
      </span>
    </ng-template>
  </p-table>
</div>
